<div class="container center">
  <div class="text">
    <h1>Select a Category</h1>
  </div>
  <div class="Category" id="MyCategory">
    <a href="/cars">cars</a>
    <a href="/flowers">flowers</a>
    <a href="/animals">animals</a>
  </div>
</div>

{{>loadingImages}}
{{>footer}}
{{>homeScript}}