<section class="user-profile ">
  <div class="user-img-container">
    {{#each userData}}
    <div class='img-Name'>
      <img class="user-img" src={{this.user_img}}>
      <div class="user-info-container">
        <h1><label>{{this.user_name}}</label></h1>
        <h3>status : {{this.user_status}}</h3>
      </div>
    </div>
  </div>
  {{/each}}
</section>

{{>loadingImages}}
{{>footer}}
{{>userProfileScript}}